#root {
  min-height: 100vh;
}
.App {
  height: 100vh;
}
#root {

  /* Colors: */
  --unnamed-color-e74c3c: #E74C3C;
  --unnamed-color-acacac: #ACACAC;
  --unnamed-color-727272: #727272;
  --unnamed-color-2ecc71: #2ECC71;
  --unnamed-color-f1c40f: #F1C40F;
  --unnamed-color-9b59b6: #9B59B6;
  --unnamed-color-007bff: #007BFF;
}
  
  /* Character Styles */
  /* Character Styles */
.character-style-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0;
  color: mediumGrayColor;
}
.character-style-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0;
  color: basicGrayColor;
}
.character-style-3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14 px;
  line-height: 21 px;
  letter-spacing: 0;
  color: basicGrayColor;
}

